<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Startsida</title>
    <link rel="stylesheet" href="css/css.css">
    <script src="./js/toggle_menu.js"></script>
</head>
<body>
    <main>
        <%= yield %>
    </main>
</body>
</html>