<div class="top-meny"> 
    <img class="logga"src="./img/Logga.jpg"> </img>
    <input class="sök" type="text" placeholder="Sök på spel eller recensenter"></input>
</div>

<nav class= "huvud-meny">
    <a href="/index.html" class="hem">Hem</a>
    <a href="/" class="meny">Meny</a>
    <a href="om-oss.html" class="om-oss">Om oss</a>
</nav>

<div class="grid">
    <div class="LOL">
        <img src="../img/lol.jpg" alt="League of Legends logo">
        <a href="lol.html">League of Legends</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sodales turpis, id tincidunt leo. </p>
    </div>
    <div class="OW">
        <img src="../img/overwatch.jpg" alt="Overwatch logo">
        <a href="overwatch.html">Overwatch</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sodales turpis, id tincidunt leo.</p>
    </div>
    <div class="Dota">
        <img src="../img/Dota.jpg" alt="Dota logo">
        <a href="/dota.html">Dota</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sodales turpis, id tincidunt leo.</p>
    </div>
    <div class="WoW">
        <img src="../img/wow.jpg" alt="World of Warcraft logo">
        <a href="wow.html">World of Warcraft</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sodales turpis, id tincidunt leo.</p>
    </div>

    <div class="sidor">
        <a href="/">1</a>
        <a href="/">..</a>
        <a href="/">3</a>
    </div>
</div>


