<div class= "huvud-meny"> 
    <nav>
        <a href="" class="hem">Hem</a>
        <a href="" class="meny">Meny</a>
        <a href="" class="recensioner">Recensioner</a>
        <a href="" class="om-oss">Om oss</a>
    </nav>
</div>