<div class="top-meny"> 
    <img class="logga"src="./img/Logga.jpg"> </img>
    <input class="sök" type="text" placeholder="Sök på spel eller recensenter"></input>
</div>

<nav class= "huvud-meny">
    <a href="" class="hem">Hem</a>
    <a href="" class="meny">Meny</a>
    <a href="" class="recensioner">Recensioner</a>
    <a href="" class="om-oss">Om oss</a>
</nav>

<div class="senaste"> 
    <p>Senaste händelsen</p>


</div>